API_ENDPOINT=
HOVI_API_KEY=
TENANT_ID=
CREDENTIAL_TEMPLATE_ID=
JWT_SECRET=
BLAND_AI_API_KEY=
BLAND_AI_PATHWAY=
REDIS_HOST=
REDIS_PORT=
REDIS_TOKEN=
NODE_ENV=
AGENT_TENANT_ID=
VERIFICATION_TEMPLATE_ID=